.lango-langselector .icon-earth {

    color: black;
    font-size: 22px;
    position: relative;
}

.lango-langselector .lang-span {

    color: black;
    font-size: 0.9rem;
    position: relative;
    top: -4px;
}

.lango-langselector {

    display: inline-block;
    direction: ltr;
    position: relative;
    width: auto;
}


.lango-langlist {
    direction: ltr;
    position: fixed;
    width: 104px;
    background: whitesmoke;
    border-bottom: 2px solid #d4d4d4;
    direction: rtl;
    padding: 5px;
}

.nav-langselector {
    top: 8px;
    padding: 20px;
    width: 6.2em;
}

.unselective {

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.lango-icon-nation {
    font-size: 22px;
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;

}