<html style="overflow-x: hidden;">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">


    <title>RapiLink - 全能的文件分享平台</title>

    <script src="{{ url_for('mobile_new.static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='js/jquery.cookie.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='js/main_site/global_vars.js') }}"></script>

    <link rel="shortcut icon" href="{{ url_for('mobile_new.static', filename='favicon_small.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('mobile_new.static', filename='layui/css/layui.css') }}">
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('mobile_new.static', filename='style/index.less') }}">

    <script>
        less = {
          env: "production",
          async: false,
          fileAsync: false,
          poll: 1000,
          globalVars: {
         
          },
          useFileCache: true
        };
    </script>

    <script src="{{ url_for('mobile_new.static', filename='js/less.min.js') }}"></script>

    <script src="{{ url_for('mobile_new.static', filename='js/utils/color-thief.min.js') }}"></script>

    <script src="{{ url_for('mobile_new.static', filename='js/utils/states.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='js/main_site/states_bind.js') }}"></script>

    <script src="{{ url_for('mobile_new.static', filename='js/utils/utils.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='js/utils/less-var-manager.js') }}"></script>

    <script src="{{ url_for('mobile_new.static', filename='js/lango.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='js/anime.min.js') }}"></script>


    <link rel="stylesheet" type="text/css" href="{{ url_for('mobile_new.static', filename='style/fonts/noto_sans.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('mobile_new.static', filename='style/fonts/work_sans.css') }}">

    <script src="{{ url_for('mobile_new.static', filename='js/animations/message/bar.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='js/main_site/bing_background.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='js/main_site/bing_color_fetch.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='js/main_site/file_process.js') }}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>


</head>

<body style="background-repeat: no-repeat;background-size: 100%;">
    <div class="swiper-container" id="swiper_container_vertical" style="">

        <script>
            changeBackground();
            var lessmgr=new LessManager();
            var lango = new Lango();
            lessmgr.init();
            lango.Settings.languagePackRoot = "/static/lango";
            lango.init();
            
            lessmgr.modifyVars({
                '@window-height': $(document).height(),
                '@window-width': $(document).width()
            });

            tate.setState("cusLinkAvailable_file", true);

        </script>




        <div id="rplink_index_header">
            <img id="bingbg_temp" src="" class="hidden" crossorigin="https://cn.bing.com">
            <div class="rplink-box-type" id="rplink-header-bg"></div>

            <div style="width: 100%;text-align: left;position: relative;">
                <a href="https://m.rapi.link">
                    <img class="layui-anim layui-anim-fadein" id="logo" src="{{ url_for('mobile_new.static', filename='img/site_branding/logo_small.png') }}">
                </a>
                <span class="layui-anim layui-anim-fadein hidden" id="slogan">你的云中转站</span>
            </div>

        </div>



        <div class="swiper-wrapper" id="vertical_wrapper">

            <div class="swiper-slide">
                <div class="rplink-cap-box vertical-slide-with-padding">
                    <div class="swiper-container help" id="swiper_container_horizontal_help">
                        <div class="swiper-wrapper">

                            <div class="rplink-cap-box swiper-slide swiper-slide-horizontal">
                                <p lango_id="cap" class="rplink-cap-top">你好，这里是RapiLink</p>
                            </div>

                            <div class="rplink-cap-box swiper-slide swiper-slide-horizontal">
                                <p lango_id="cap" class="rplink-cap-top">RapiLink是一个全能的文件分享平台</p>
                            </div>

                        </div>

                        <div class="rplink-paging-bar horizontal" style="padding:58px;width:-webkit-fill-available;">
                            <i class="layui-icon layui-icon-left rplink-paging-icon"></i>
                            <i class="layui-icon layui-icon-right rplink-paging-icon" style="float:right;"></i>
                        </div>

                    </div>
                </div>

            </div>

            <div class="swiper-slide">

                <div class="rplink-cap-box vertical-slide-with-padding">
                    <div class="swiper-container main" id="swiper_container_horizontal_main">
                        <div class="swiper-wrapper">

                            <! Add class 'swiper-slide-horizontal' in all horizontal slides.>
                            <div class="rplink-cap-box swiper-slide swiper-slide-horizontal">
                                <p lango_id="select_file" class="rplink-cap-top">选择一个文件。</p>
                                <button class="layui-btn rplink-btn" id="rplink-upload-btn">
                                    <i class="layui-icon layui-icon-upload rplink-btn-icon"></i>
                                    <span class="rplink-btn-span">点击上传</span>
                                    <input type="file" id="file_uploader" class="layui-btn rplink-btn hidden">
                                </button>
                            </div>

                            <div class="rplink-cap-box swiper-slide hidden swiper-slide-horizontal" id="rplink_upload_step2">

                                <div class="rplink-indicator-bar">
                                    <span lango_id="shortlink_input" class="rplink-cap" id="shortlink_input" style="font-size: 3.2rem;">输入您的专属链接</span>
                                    <span class="layui-badge rplink-indicator-badge" id="rplink_indicator_badge">
                                        <span class="rplink-cap" id="file_cus_link_indicator_span" style="font-size: 2.2rem;font-weight: 500;">链接可用</span>
                                        <i class="layui-icon layui-icon-ok rplink-indicator-icon"></i>
                                    </span>
                                </div>

                                <p class="rplink-cap" id="chosen_filename" style="font-size:6.4rem;"></p>

                                <div class="rplink-input-box link-input" id="rplink_link_input_box_file">
                                    <span id="rplink_link_prefix_span">https://rapi.link/</span>
                                    <input class="rplink-input link-input rplink-anime-normal" id="rplink_link_input"
                                        style="display:inline-block;">
                                </div>


                            </div>

                        </div>

                        <div class="rplink-paging-bar horizontal hidden" style="top: 142%;">
                            <i class="layui-icon layui-icon-left rplink-paging-icon"></i>
                            <i class="layui-icon layui-icon-right rplink-paging-icon" style="float:right;"></i>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <script src="{{ url_for('mobile_new.static', filename='js/animations/animations.js') }}"></script>

    <script src="{{ url_for('mobile_new.static', filename='layui/layui.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='js/main_site/events.js') }}"></script>

</body>


<div class="copyright unselective hidden">Copyright © 2019 Artrix Technologies CO.,LTD All rights reserved.</div>


</html>