<html style="overflow-x: hidden;">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">


    <title>RapiLink - 你的云中转站</title>
    <link rel="shortcut icon" href="{{ url_for('mobile_new.static', filename='favicon_small.png') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('mobile_new.static', filename='style/fonts/noto_sans.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('mobile_new.static', filename='style/fonts/work_sans.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('mobile_new.static', filename='layui/css/layui.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('mobile_new.static', filename='style/message/bar.css') }}">
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('mobile_new.static', filename='style/index.less') }}">

    <script src="{{ url_for('mobile_new.static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='js/jquery.cookie.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='js/less.min.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='layui/layui.js') }}"></script>

    <script src="{{ url_for('mobile_new.static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='js/lango.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='js/utils/utils.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='js/main_site/bing_background.js') }}"></script>
    <script src="{{ url_for('mobile_new.static', filename='js/main_site/bing_color_fetch.js') }}"></script>


</head>

<body style="background-repeat: no-repeat;background-size: 100%;">

    <img id="bingbg_temp" src="" class="hidden" crossorigin="https://cn.bing.com">

    <script>
        changeBackground();
        var lango = new Lango();
        lango.Settings.languagePackRoot = "/static/lango";
        lango.init();
    </script>

    <div id="rplink-index-header">

        <div class="rplink-box-type" id="rplink-header-bg"></div>


        <script src="{{ url_for('mobile_new.static', filename='js/layui_load.js') }}"></script>

        <div style="width: 100%;text-align: left;position: relative;">
            <a href="https://rapi.link">
                <img class="layui-anim layui-anim-fadein" id="logo" src="{{ url_for('mobile_new.static', filename='img/site_branding/logo_small.png') }}">
            </a>
            <span class="layui-anim layui-anim-fadein hidden" id="slogan">你的云中转站</span>
        </div>

    </div>

    <div id="rplink-cap-box">
        <p lango_id="cap" id="rplink-cap-top">选择一个文件。</p>
        <button class="layui-btn rplink-btn">一个标准的按钮</button>
    </div>


</body>


<div class="copyright unselective hidden">Copyright © 2019 Artrix Technologies CO.,LTD All rights reserved.



</html>