.hidden {
    display: none;
}

body {
    padding: 58px;
    padding-top: 64px;
}

#logo {
    width: 360px;
    position: relative;
    margin-left: -12px;
}

.rplink-btn{
    width: 22rem;
    height: 6rem;
    background: transparent;
    color: white;
    font-size: 2rem;
    border: 5px solid #ffffff;
    border-radius: 14px;
    top: 30px;
    position: relative;
}

#rplink-cap-top {
    color: white;
    font-family: Noto Sans S Chinese;
    font-weight: 400;
    font-size: 7rem;
    position: relative;
    padding-top: 240px;
}

#rplink-cap-box {
    position: relative;
    width: 100%;
    text-align: left;
    margin-left: 10px;
}