</html>

<html style="overflow-x: hidden;overflow-y: hidden;">

<head>
    <title>RapiLink - Your data transition center</title>

    <script src="{{ url_for('front.static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('front.static', filename='css/file_redirect.css') }}">
    <script src="{{ url_for('front.static', filename='js/file_redirect.js') }}"></script>

    <link rel="shortcut icon" href="{{ url_for('front.static', filename='favicon_small.png') }}">

    <link href='https://fonts.googleapis.com/css?family=Work%20Sans' rel='stylesheet' type='text/css'>

    <script src="{{ url_for('front.static', filename='js/utils/color-thief.min.js') }}"></script>

    <script src="{{ url_for('front.static', filename='js/utils/utils.js') }}"></script>
    <script src="{{ url_for('front.static', filename='js/bing_bg.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('front.static', filename='css/message/bar.css') }}">
    <script src="{{ url_for('front.static', filename='js/animations/message/bar.js') }}"></script>

    <meta name="batch_id" content="{{batch_id}}">

</head>

<body id="b" style="background-repeat: no-repeat;background-size: 100%;">

    <img id="bgimg" src="" class="hidden" crossorigin="https://cn.bing.com">

    <script>
        changeBackground();
        fetchColor(themeColorChange);
        analyze_file();
    </script>

    <a href="https://rapi.link">
        <img src="{{ url_for('front.static', filename='img/site_branding/logo_small.png') }}" class="logo_small">
    </a>

    <div class="rplnk_main_box rplnk_oval_box" id="rplnk_foreground_box">
       


    </div>

    <script>
        oval_box_resize();
    </script>

</body>

<footer>
    <style>
        .footer_box {
            position: absolute;
            bottom: 28px;
            text-align: center;
            width: 100%;
        }
    </style>
    <div class="footer_box">
        <div class="copyright unselective animation" id="copyright">Copyright © 2018 Artrix Technologies CO.,LTD All rights
            reserved.
        </div>
    </div>

</footer>


</html>