<html style="overflow-x: hidden;overflow-y: hidden;">

<head>

    <title>RapiLink - Your data transition center</title>

    <script src="{{ url_for('front.static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('front.static', filename='js/jquery.cookie.js') }}"></script>
    <script src="{{ url_for('front.static', filename='js/utils/lango.js') }}"></script>

</head>

<body>

    <span lango_id="title">Content1!</span>
    <span lango_id="test">Content2!</span>
    <span>HelloWorld!</span>

    <script>

        var l = new Lango();
        l.Settings.languagePackRoot="{{ url_for('front.static', filename='langopack/') }}";
        l.init();



    </script>
</body>


</html>