<html style="overflow-x: hidden;overflow-y: hidden;">

<head>
    <title>RapiLink - Your data transition center</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('front.static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('front.static', filename='css/float_window.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('front.static', filename='css/file_process.css') }}">

    <link rel="shortcut icon" href="{{ url_for('front.static', filename='favicon_small.png') }}">

    <link href='https://fonts.googleapis.com/css?family=Work%20Sans' rel='stylesheet' type='text/css'>


    <script src="{{ url_for('front.static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('front.static', filename='js/utils/color-thief.min.js') }}"></script>

    <script src="{{ url_for('front.static', filename='js/utils/utils.js') }}"></script>
    <script src="{{ url_for('front.static', filename='js/bing_bg_main.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('front.static', filename='css/link_process_animation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('front.static', filename='css/message/bar.css') }}">

</head>

<body id="b" style="background-repeat: no-repeat;background-size: 100%;">

<img id="bgimg" src="" class="hidden" crossorigin="https://cn.bing.com">

<script>
        changeBG();

</script>

<script>
        //<canvas id="canv"></canvas>
        //<script src="{{ url_for('front.static', filename='js/animations/stars_no_mouse.js') }}">(/script) - Replace the () with <> Here!!!

</script>


<style>
        #canv {
            position: absolute;
            z-index: -1;
            /*top: -5%;
            left: -2%;
            width: 102%;
            height: 102%;*/
        }
    </style>

    <a href="https://rapi.link">
        <img src="{{ url_for('front.static', filename='img/site_branding/logo_small.png') }}" class="logo_small">
    </a>

    <div class="background_board"></div>

    <div class="title" onfocus="linkFloatWindowFold()">
        <span class="large unselective">Short</span>
        <span class="small unselective"> link generator</span>
    </div>

    <div class="icons" onfocus="linkFloatWindowFold()">


        <a href="javascript:void(0)" onclick="changeLink()" class="btn" style="text-decoration-line: none;">
            <img class="icon_selected" id="link_btn" src="{{ url_for('front.static', filename='img/file.png') }}">
        </a>
        <span class="label_for_btn" id="link_label">File</span>

        <a href="javascript:void(0)" onclick="changeFile()" class="btn" style="text-decoration-line: none;">
            <img class="icon" id="file_btn" src="{{ url_for('front.static', filename='img/link.png') }}">
        </a>
        <span class="label_for_btn" id="file_label">Link</span>
        
        <!Block Hidden here>
        <a href="javascript:void(0)" onclick="changeText()" class="btn hidden" style="text-decoration-line: none;">
            <img class="icon" id="text_btn" src="{{ url_for('front.static', filename='img/text.png') }}">
        </a>
        <span class="label_for_btn" id="text_label">Text</span>


    </div>

    <div class="func_areas">

        <div class="make_file" id="file">

            <div class="round_bar bar_config1">

                <div id="file_input_div">
                    <img id="file_icon" src="{{ url_for('front.static', filename='img/file.png') }}">
                    <span id="file_input_span" class="unselective">Select File</span>
                    <span id="progress_text" style="opacity: 0;">0.0MB/s</span>
                    <input type="file" id="file_input">
                </div>


                <div id="file_hover_btn" onclick="uploadFile()" onmousedown="btnMouseDown()" onmouseup="btnMouseUp()" class="hidden"></div>

            </div>


            <div class="float_window float_window_config_file f_good" id="link_gen_window_file">

                <div id="file_message_bar_stage1" class="">
                    <span class="float_window_label" id="customize_link_label">https://rapi.link/</span>
                    <input class="customize_link_input" id="customize_link_input_file"
                           placeholder="<Your Customized link>" onfocus="startTimer2()"
                           onblur="stopTimer2()">
                    <div class="indicator good" id="indicator_file"></div>
                </div>

                <div id="file_message_bar_stage2" class="hidden">
                    <span class="float_window_label_2"
                          id="file_whole_link_label">The Link will be available for 2 hours</span>
                    <input class="link_whole_link_label" id="file_whole_link" readonly="readonly" value="<Whole-Link>"
                           onclick="this.select();">
                    <div class="indicator finished" id="indicator_file_finished"></div>
                </div>


            </div>


        </div>

        <div class="hidden" id="link">
            <!links>

            <div class="round_bar bar_config1">

                <input class="link_input" id="link_input" placeholder="https://rapi.link">
                <div class="link_hover_btn" id="link_hover_btn" onclick="genLink()" onmousedown="btnMouseDown()" onmouseup="btnMouseUp()"></div>

            </div>


            <div class="float_window float_window_config_link f_good" id="link_gen_window">

                <div id="f_window_bar1" class="">
                    <span class="float_window_label" id="customize_link_label">https://rapi.link/</span>
                    <input class="customize_link_input" id="customize_link_input" placeholder="<Your Customized link>" onfocus="startTimer1()"
                        onblur="stopTimer1()">
                    <div class="indicator good" id="indicator1"></div>
                </div>

                <div id="f_window_bar2" class="hidden">
                    <span class="float_window_label_2" id="link_whole_link_label">The Link will be available for 2 hours</span>
                    <input class="link_whole_link_label" id="link_whole_link" readonly="readonly" value="<Whole-Link>" onclick="this.select();">
                    <div class="indicator finished" id="indicator2"></div>
                </div>


            </div>
            <div class="round_bar bar_config2 hidden" id="link_gen_bar">
                <input class="bar_input bar_input_config2" id="round_bar_input2">
            </div>


        </div>

        <div class="hidden" id="text">
            <input class="text_input">
        </div>

    </div>

    <script src="{{ url_for('front.static', filename='js/main.js') }}"></script>

    <script src="{{ url_for('front.static', filename='js/link_process_new.js') }}"></script>
    <script src="{{ url_for('front.static', filename='js/animations/link_process_animation.js') }}"></script>


    <script src="{{ url_for('front.static', filename='js/file_process.js') }}"></script>



    <script src="{{ url_for('front.static', filename='js/animations/message/bar.js') }}"></script>


    <script>
        changeLink();
    </script>

</body>

<footer>
    <style>
        .footer_box {
            position: absolute;
            bottom: 28px;
            text-align: center;
            width: 100%;
        }
    </style>
    <div class="footer_box">
        <div class="copyright unselective">Copyright © 2018 Artrix Technologies CO.,LTD All rights reserved.</div>
    </div>

</footer>


</html>