<html>

<head>
    <title>Hello!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('front.static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('front.static', filename='css/float_window.css') }}">

    <link href='http://fonts.googleapis.com/css?family=Work%20Sans' rel='stylesheet' type='text/css'>


</head>

<body>


    <div class="title" onfocus="linkFloatWindowFold()">
        <span class="large">Short</span>
        <span class="small"> link generator</span>
    </div>

    <div class="icons" onfocus="linkFloatWindowFold()">


        <a href="javascript:void(0)" onclick="changeLink()" class="btn" style="text-decoration-line: none;">
            <img class="icon_selected" id="link_btn" src="{{ url_for('front.static', filename='img/link.png') }}">
        </a>
        <span class="label_for_btn" id="link_label">Link</span>

        <a href="javascript:void(0)" onclick="changeFile()" class="btn" style="text-decoration-line: none;">
            <img class="icon" id="file_btn" src="{{ url_for('front.static', filename='img/file.png') }}">
        </a>
        <span class="label_for_btn" id="file_label">File</span>

        <a href="javascript:void(0)" onclick="changeText()" class="btn" style="text-decoration-line: none;">
            <img class="icon" id="text_btn" src="{{ url_for('front.static', filename='img/text.png') }}">
        </a>
        <span class="label_for_btn" id="text_label">Text</span>


    </div>

    <div class="func_areas">


        <div class="make_link" id="link">
            <!links>

            <div class="round_bar bar_config1">

                <input class="link_input" id="link_input" placeholder="Input your long link here" onfocus="linkFloatWindowExpand()">
                <div class="link_hover_btn" onclick="genLink()"></div>

            </div>


            <div class="float_window float_window_config_link" id="link_gen_window">

                <div id="f_window_bar1">
                    <span class="float_window_label">http://rapi.link/</span>
                    <input class="customize_link_input" id="customize_link_input" placeholder="<Your Customized link>" onfocus="startTimer1() "
                        onblur="stopTimer1()">
                    <div class="indicator good" id="indicator1"></div>
                </div>



            </div>
            <div class="round_bar bar_config2" id="link_gen_bar">
                <input class="bar_input bar_input_config2" id="round_bar_input2">
            </div>


        </div>

        <div class="hidden" id="file">
            <input class="file_input">
        </div>

        <div class="hidden" id="text">
            <input class="text_input">
        </div>

    </div>

    <script src="{{ url_for('front.static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('front.static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('front.static', filename='js/business_process.js') }}"></script>
    <script>changeLink();</script>

</body>


</html>